{
  "parserOptions": {
    "jsx": true,
    "ecmaVersion": 13,
    "sourceType": "module",
    "experimentalObjectRestSpread": true
  },
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "commonjs": true,
    "es2022": true
  },
  "plugins": [
    "react"
  ],
  "extends": ["plugin:react/recommended", "@imaginary-cloud/react", "eslint:recommended"],
  "rules": {
    "no-console": [1, { "allow": ["error"] }],
    "no-debugger": 1,
    "class-methods-use-this": 1,
    "linebreak-style": 1,
    "max-len": [1,100,2],
    "react/react-in-jsx-scope": 1,
    "no-unused-vars": 1,
    "no-unexpected-multiline": 1,
    "react/prop-types": 1,
    "react/prefer-stateless-function": 1,
    "react/no-unused-state": 1,
    "react/state-in-constructor": 1,
    "react/no-unescaped-entities": 1,
    "no-param-reassign": 1,
    "prefer-const": 1,
    "no-bitwise": 1
  },
  "settings": {
    "react": {
        "pragma": "React",
        "version": "16.14.0"
    }
  }
}